li {
  cursor: pointer;
  /*background-color: red;*/
}

strong {
  cursor: pointer;
}

ol {
	max-width:300px;
	margin:0 auto;
}

.delete-todo {
  display: inline-block;
  margin-left: 5px;
}

.edit-todo {
  display: inline-block;
}

.hover-buttons {
  float: right;
}

.input-todo {
  margin-bottom: 10px;
}



.todo-list-item-enter {
  opacity: 0.01;
}

.todo-list-item-enter.todo-list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.todo-list-item-leave {
  opacity: 1;
}

.todo-list-item-leave.todo-list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
